<!--div class="container">
    <picture-dashboard></picture-dashboard>
    <search-bar></search-bar>
    <top-walk></top-walk>
</div-->



<!--div class="cbp-fbscroller">
    <section>
        <header class="dashboard-header">
            <h1 class="header-title">
                <span class="header-title__main">Walkey</span>
                <span class="header-title__part"><search-bar></search-bar></span>
                <span class="header-title__sub">A website for walking</span>
            </h1>
        </header>
    </section>
    <section>
        <top-walk></top-walk>
    </section>
</div-->
<search-bar></search-bar>
<top-walk></top-walk><br>